<h1 class:"title">My Dream Factory</h1>
<h3 class:"title_button">
  <%= link_to "[今日と明日と明々後日]", daily_path %>
</h3>
<h3 class:"title_button">
  <%= link_to "[夢一覧]", dream_index_path %>
</h3>
<h3 class:"title_button">
  <%= link_to "[その他一覧]", yet_dream_index_path %>
</h3>
