<h1>My Dreams</h1>
<p>
  <%= link_to '新規Dream作成', new_dream_path, class: 'new_button' %>
</p>

  <% @dreams.each do |dream| %>
<h2>
    <%= link_to dream.name, dream_path(dream.id) %>
</h2>
  <% end %>
