<h1>My Dreams</h1>
<p>
  <%= link_to '[新夢作成]', new_dream_path, class: 'new' %>
  <%= link_to '[トップへ]', top_path, class: "return" %>
</p>

  <% @dreams.each do |dream| %>
    <h2>
      <%= link_to dream.name, dream_path(dream.id) %>
    </h2>
    <p>
      <%= dream.due %>まで
    </p>
  <% end %>
